@font-face {
  font-family: Twkeverett;
  src: url('../fonts/TWKEverett-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Twkeverett;
  src: url('../fonts/TWKEverett-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Twkeverett;
  src: url('../fonts/TWKEverett-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Twkeverett;
  src: url('../fonts/TWKEverett-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --orange: #eb8d00;
  --green: #3fa535;
  --lilac: #9d90ee;
  --teal: #50b2c0;
  --pink: #e686a3;
  --white: white;
  --black: black;
  --dark-blue: #324358;
  --almost-black: #242d34;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.navbar-no-shadow-container {
  z-index: 5;
  background-color: #0000;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.nav-button-wrapper {
  margin-left: 0;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.image-2, .image-2.top-bar-logo {
  max-width: 50%;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible, .nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.hero-heading-left {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 60px 30px;
  position: relative;
}

.hero-heading-left.bg-blue {
  background-color: #21409a;
  position: static;
}

.hero-heading-left.bg-orange {
  background-color: var(--orange);
}

.hero-heading-left.bg-green {
  background-color: var(--green);
}

.hero-heading-left.bg-lilac {
  background-color: var(--lilac);
}

.hero-heading-left.bg-lilac.colored-tiles-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-heading-left.bg-teal {
  background-color: var(--teal);
}

.hero-heading-left.colored-tiles-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.hero-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: static;
}

.hero-split.hero-split-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-right: -200px;
  display: grid;
}

.heading-3 {
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  object-fit: fill;
  margin-bottom: 5rem;
  position: relative;
}

.heading-3.centered {
  margin-left: auto;
  margin-right: auto;
}

.heading-3.centered.font-white {
  color: #fff;
  -webkit-text-stroke-color: white;
}

.margin-bottom-24px {
  margin-bottom: 24px;
  padding-top: 8.5rem;
}

.margin-bottom-24px.font-white {
  color: #fff;
}

.margin-bottom-24px.p-big {
  font-size: 3rem;
  line-height: 1;
}

.shadow-two {
  box-shadow: 0 4px 24px #96a3b514;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-dark {
  background-color: #fff;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #1a1b1fbf;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-family: Twkeverett, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Twkeverett, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: #1a1b1fbf;
}

.nav-link-2:focus-visible, .nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.heading-4 {
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  object-fit: fill;
  margin-bottom: .8rem;
  font-family: Twkeverett, sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 3rem;
  display: none;
  position: relative;
}

.heading-4.centered {
  margin-left: auto;
  margin-right: auto;
}

.heading-4.centered.font-white {
  color: #fff;
  -webkit-text-stroke-color: white;
}

.subline {
  width: 100%;
  margin-bottom: 24px;
  padding-top: 24px;
  font-family: Twkeverett, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
}

.subline.hero-subline {
  max-width: 798px;
  padding-top: 0;
  font-size: 3.5rem;
  line-height: 3.4rem;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
  padding-top: 8.5rem;
  font-family: Twkeverett, sans-serif;
}

.margin-bottom-24px-3.font-white {
  color: #fff;
  width: 100%;
}

.margin-bottom-24px-4 {
  margin-bottom: 24px;
  padding-top: 8.5rem;
  font-family: Twkeverett, sans-serif;
}

.margin-bottom-24px-4.p-big {
  padding-top: 24px;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

.heading-5 {
  text-transform: uppercase;
  font-family: Twkeverett, sans-serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1rem;
}

.heading-5.heading-5-blue {
  color: #21409a;
  -webkit-text-stroke-color: #21409a;
  font-size: 1rem;
  font-style: italic;
  line-height: 1rem;
}

.heading-5.heading-5-orange {
  color: orange;
  text-transform: none;
  font-size: 1rem;
  font-style: italic;
  line-height: 1rem;
}

.heading-5.heading-5-green {
  color: green;
  -webkit-text-stroke-color: green;
  text-transform: none;
  font-size: 1rem;
  font-style: italic;
  line-height: 1rem;
}

.heading-5.heading-5-lilac {
  color: var(--lilac);
  text-transform: none;
  margin-bottom: 32px;
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-family: Twkeverett, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.nav-link-3 {
  color: #1a1b1f;
  letter-spacing: .25px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: normal;
  object-fit: fill;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Twkeverett, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-3:hover {
  color: #1a1b1fbf;
}

.nav-link-3:focus-visible, .nav-link-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.button-primary-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-family: Twkeverett, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.nav-link-4 {
  color: #1a1b1f;
  letter-spacing: .25px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: normal;
  object-fit: fill;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Twkeverett, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-4:hover {
  color: #1a1b1fbf;
}

.nav-link-4:focus-visible, .nav-link-4[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.hero-split-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.heading-6 {
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  object-fit: fill;
  margin-bottom: 5rem;
  font-family: Twkeverett, sans-serif;
  position: relative;
}

.bottomline-hero-text {
  margin-bottom: 24px;
  padding-top: 8.5rem;
  font-family: Twkeverett, sans-serif;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.button-primary-5 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-family: Twkeverett, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-5:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-5:active {
  background-color: #43464d;
}

.heading-7 {
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  object-fit: fill;
  margin-bottom: 5rem;
  font-family: Twkeverett, sans-serif;
  position: relative;
}

.button-primary-6 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-family: Twkeverett, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-6:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-6:active {
  background-color: #43464d;
}

.container-2 {
  max-width: 1100px;
  padding-left: 0;
  padding-right: 0;
}

.heading-8 {
  color: #000;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  object-fit: fill;
  margin-bottom: 20px;
  font-family: Twkeverett, sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 3rem;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-brand-2 {
  width: 100%;
  display: block;
}

.heading-9 {
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  object-fit: fill;
  margin-bottom: 5rem;
  font-family: Twkeverett, sans-serif;
  position: relative;
}

.heading-9.centered {
  margin-left: auto;
  margin-right: auto;
}

.heading-9.centered.font-white {
  color: #fff;
  -webkit-text-stroke-color: white;
  margin-bottom: 20px;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.p {
  text-align: left;
  font-family: Twkeverett, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3rem;
}

.p.white {
  color: #fff;
}

.p.white.italic {
  font-style: italic;
  font-weight: 400;
}

.container-4 {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 20px;
}

.bottomline-hero-text-2 {
  margin-bottom: 24px;
  padding-top: 8.5rem;
  font-family: Twkeverett, sans-serif;
  font-size: 1.75rem;
}

.bottomline-hero-text-2.p-big {
  font-size: 3rem;
  line-height: 1;
}

.bottomline-hero-text-2.p-big.text-color-white {
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1rem;
}

.heading-10 {
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  object-fit: fill;
  margin-bottom: 5rem;
  font-family: Twkeverett, sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 3rem;
  position: relative;
}

.column {
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 10px;
}

.columns {
  width: 100%;
  max-width: 100%;
  display: block;
}

.container-5 {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.heading-11 {
  padding-bottom: 20px;
  font-family: Twkeverett, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
}

.bold-text {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.section {
  background-color: var(--pink);
  padding-top: 80px;
  padding-bottom: 80px;
}

.team-slider {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-6 {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  background-color: #0000;
  height: auto;
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.team-circles {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-7 {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.team-grid {
  grid-column-gap: 64px;
  grid-row-gap: 56px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

.team-card {
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  display: block;
}

.team-member-image {
  mix-blend-mode: normal;
  object-fit: cover;
  border-radius: 0%;
  width: 270px;
  height: 270px;
  margin-bottom: 24px;
}

.team-member-name {
  text-align: left;
  margin-bottom: 6px;
  font-family: Twkeverett, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  display: block;
}

.team-member-position {
  text-align: left;
  margin-bottom: 24px;
  font-family: Twkeverett, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
}

.container-8 {
  font-size: 12px;
  line-height: 10px;
}

.container-9 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.container-10 {
  height: 20px;
}

.container-10.spacer-40 {
  height: 40px;
}

.dropdown-list {
  background-color: #fff;
  font-family: Twkeverett, sans-serif;
}

.image-3.image-top {
  position: relative;
  bottom: -153px;
  right: 40px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

@media screen and (min-width: 1440px) {
  .hero-split {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .hero-split.hero-split-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    place-content: stretch start;
    margin-right: -200px;
    display: grid;
  }

  .team-member-image {
    width: 270px;
    height: 270px;
    max-height: none;
  }

  .image-3 {
    box-sizing: border-box;
    max-width: 100%;
    padding-left: 20px;
    position: relative;
    overflow: visible;
  }

  .image-3.image-top {
    clear: none;
    top: 116px;
    right: 89px;
  }
}

@media screen and (max-width: 991px) {
  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .hero-split.hero-split-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-left: auto;
    margin-right: -47px;
    padding-right: 0;
    display: grid;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .subline.hero-subline {
    font-size: 2.5rem;
    line-height: 2.4rem;
  }

  .nav-link-3, .nav-link-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-3, .container-4, .container-5 {
    max-width: 728px;
  }

  .section {
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .container-6 {
    max-width: 728px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .container-7 {
    max-width: 728px;
  }

  .team-grid {
    grid-column-gap: 40px;
  }

  .team-member-image {
    width: 190px;
    height: 190px;
  }

  .dropdown-list {
    padding: 10px 20px;
  }

  .dropdown-list.w--open {
    padding-left: 20px;
    padding-right: 20px;
  }

  .dropdown-list.dropdown-list-padding {
    display: block;
  }

  .image-3.image-top {
    position: relative;
    bottom: -116px;
    right: 77px;
  }

  .locales-list {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding-left: 0;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .hero-heading-left {
    padding: 60px 15px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .nav-link-2, .nav-link-3, .nav-link-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .bottomline-hero-text-2.p-big.text-color-white {
    font-size: 2rem;
    line-height: 2rem;
  }

  .team-slider, .team-circles {
    padding: 60px 15px;
  }

  .team-grid {
    grid-template-columns: 1fr 1fr;
  }

  .team-member-image {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 479px) {
  .navbar-no-shadow-container {
    padding-left: 20px;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .nav-menu {
    flex-direction: column;
  }

  .image-2.top-bar-logo {
    max-width: 60%;
  }

  .container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-split.hero-split-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    display: grid;
  }

  .heading-3 {
    display: block;
    position: relative;
  }

  .heading-4 {
    max-width: 100%;
    font-size: 2rem;
    line-height: 2rem;
    display: block;
    position: relative;
    overflow: visible;
  }

  .subline {
    font-size: 1.33rem;
    line-height: 1.33rem;
  }

  .subline.hero-subline {
    font-size: 1.8rem;
    line-height: 1.7rem;
  }

  .margin-bottom-24px-4.p-big {
    font-size: 2rem;
    line-height: 2rem;
  }

  .hero-split-2 {
    width: 100%;
  }

  .heading-6, .heading-7 {
    display: block;
    position: relative;
  }

  .heading-8 {
    color: #000;
    font-size: 2rem;
    line-height: 2rem;
    display: block;
    position: relative;
  }

  .container-3 {
    max-width: none;
  }

  .footer-brand-2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .heading-9 {
    display: block;
    position: relative;
  }

  .heading-9.centered.font-white {
    font-size: 2rem;
    line-height: 2rem;
  }

  .container-4 {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .bottomline-hero-text-2.p-big.text-color-white {
    font-size: 2rem;
  }

  .heading-10 {
    font-size: 2rem;
    line-height: 2rem;
    display: block;
    position: relative;
  }

  .column {
    padding-bottom: 20px;
  }

  .container-5 {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .container-6 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .container-7 {
    max-width: none;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .team-member-image {
    width: 250px;
    height: 250px;
  }

  .image-3.image-top {
    bottom: -56px;
    right: 11px;
  }
}

#w-node-_48cec7ee-f8e1-b68a-b069-85360c313cf6-73169c23, #w-node-_48cec7ee-f8e1-b68a-b069-85360c313d01-73169c23, #w-node-_48cec7ee-f8e1-b68a-b069-85360c313d0b-73169c23, #w-node-_48cec7ee-f8e1-b68a-b069-85360c313d15-73169c23, #w-node-c264cd6a-0338-c24b-917e-18eebf01cf63-73169c23, #w-node-c264cd6a-0338-c24b-917e-18eebf01cf69-73169c23, #w-node-c264cd6a-0338-c24b-917e-18eebf01cf6f-73169c23, #w-node-c264cd6a-0338-c24b-917e-18eebf01cf75-73169c23, #w-node-_6158e2f9-316f-ae79-6d30-9dfe60dedb35-60dedb2f, #w-node-_6158e2f9-316f-ae79-6d30-9dfe60dedb3e-60dedb2f, #w-node-_6158e2f9-316f-ae79-6d30-9dfe60dedb49-60dedb2f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-_48cec7ee-f8e1-b68a-b069-85360c313d01-73169c23, #w-node-_48cec7ee-f8e1-b68a-b069-85360c313d0b-73169c23, #w-node-c264cd6a-0338-c24b-917e-18eebf01cf69-73169c23, #w-node-c264cd6a-0338-c24b-917e-18eebf01cf6f-73169c23 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Twkeverett';
  src: url('../fonts/TWKEverett-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Twkeverett';
  src: url('../fonts/TWKEverett-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Twkeverett';
  src: url('../fonts/TWKEverett-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Twkeverett';
  src: url('../fonts/TWKEverett-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}